.column {
  display: flex;
  flex-direction: column;

  gap: 16px;

  min-width: 320px;

  background: #f9fafb;

  border-radius: 12px;

  padding: 16px;
}

.tasks {
  display: flex;
  flex-direction: column;

  gap: 12px;

  min-height: 300px;
}